@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding:0px;
}

body, html{
    background-color: lightgray;
}

header{
    background-color: rgb(148 148 148);
}

h1{
    text-align: center;
    padding: 15px;
}

#burguer{
    background-color: rgb(41, 40, 40);
    display: block;
    color: white;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: white;
    color: rgb(41, 40, 40);
}

menu{
    display: none;
}

menu > ul > li > a{
    text-align: center;
    display: block;
    background-color: rgb(100, 98, 98);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-top: 2px solid rgb(148 148 148);
}

ul{
    
    list-style-type: none;
    
}

menu > ul > li > a:hover{
    background-color: rgb(184, 182, 182);
    color:black;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    text-align: center;
    margin-bottom: 20px;
}

article > p{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 20px;
    
}
